$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);

$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-gray-blue: hsl(236, 13%, 42%);
$very-dark: hsl(240, 100%, 5%);

$font-size: 15px;

$font-dinamic-path: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
$font-static-path: url(../assets/fonts/static/Inter-Bold.ttf), 
                url(../assets/fonts/static/Inter-ExtraBold.ttf), 
                url(../assets/fonts/static/Inter-Regular.ttf);